html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    height: 100%;
    background-color: #EBD8D0
}



/* Header styling */
#container{ 
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e5d3cc;
    white-space: nowrap;
}

header{
    height: 20%;
   
}

header #header-image{
    height: 85%;
    width: 20%;
    display: block;  
}

header #header-text h1{
    margin: 0;  
    
}

/* Left side styling(bullet list) */

#leftList{ 
   width: 50%;
   display:inline-block;
   white-space: normal;
   vertical-align: top;
}


.leftBulletImages{
    height: 5%;
    width: 5%;
}

.leftPoints{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    
}

/* Right side styling (input form) */

#rightList{
    width: 50%;
    display:inline-block;
    white-space: normal;
    vertical-align: top;
}





/* footer styling */

footer{
  
    height: 25%;
    background-color: #e5d3cc;   
    margin-left: 5%;
    margin-right: 5%;
}

footer p{
    margin: 0;
    padding: 0;
}