*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
   height: 100%;
   
}

body{
   
    background-color: #4F8DBC;  
}

p{
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
}

/* Header styling */
#container{ 
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #5C92BC;
    white-space: nowrap;
     
}

header{
    margin: 0px auto;
    background-color: #5C92BC;
}

header #header-image{
    height: 85%;
    width: 20%;
    display: block;  
    margin: 0px auto;
}

header #header-text h1{
    margin: 0px auto; 
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
    font-size: 2.188em;
    line-height: 2em;
    border-bottom: 1px solid #F9F9F9;
    text-shadow: 0.5px 1px #F9F9F9;
    letter-spacing: 2px;
    width: 80%;
}

#mainContent{
    padding-top: 2%;
    margin-top: 2%;  
    background-color: #5C92BC;
}

.listContainers{
    margin-top: 2%;
    padding-left: 1%;
}

/* Left side styling(bullet list) */
#leftList{ 
   width: 50%;
   display:inline-block;
   white-space: normal;
   vertical-align: top; 
}

.LeftPointTitles{
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em;
}

.leftBulletImages{
    height: 5%;
    width: 5%;
    margin-right: 10px;
    float: left;
}

.leftPoints{
    list-style-type: none;
    padding: 25px;
    margin: 0;   
}

/* Right side styling (input form) */
#rightList{
    width: 50%;
    display:inline-block;
    white-space: normal;
    vertical-align: top;
    padding: 2% 7% 10% 5%;
    position: relative;
    
}

#registerForm{
    max-width: 100%;
    width: 100%;
    border: 10px solid #F9F9F9;
    border-radius: 15px;
    padding: 5%;
    min-height: 500px;  
}

.registerInputFields{
   
}

/* footer styling */
footer{ 
    max-height: 15%;
    background-color: #5C92BC;
    padding-left: 3%;     
    
}

footer p{
    margin: 0;
    padding: 0;
}