*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
   
}

body{
    height: 100%;
    background-color: #4F8DBC;
    
}

p{
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
}



/* Header styling */
#container{ 
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #5C92BC;
    white-space: nowrap;
}

header{
    height: 20%;   
}

header #header-image{
    height: 85%;
    width: 20%;
    display: block;  
    margin: 0px auto;
}



header #header-text h1{
    margin: 0px; 
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    color: #F9F9F9;
    font-size: 35px;
}

#mainContent{
    padding-top: 2%;
   
}

/* Left side styling(bullet list) */

#leftList{ 
   width: 50%;
   display:inline-block;
   white-space: normal;
   vertical-align: top;
  
}


.leftBulletImages{
    height: 5%;
    width: 5%;
}

.leftPoints{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    
}

/* Right side styling (input form) */

#rightList{
    width: 30%;
    display:inline-block;
    white-space: normal;
    vertical-align: top;
    padding-top: 10%;
    margin-left: 150px;
}

#registerForm{
    padding: 25px;
    border: 10px solid #F9F9F9;
    border-radius: 15px;
}




/* footer styling */

footer{ 
    height: 15%;
    background-color: #5C92BC;     
    
}

footer p{
    margin: 0;
    padding: 0;
}