@media (max-width:480px){

html, body{
    height: auto;
}

    /* Header styling */
    #container{     
        margin-left: 0%;
        margin-right: 0%;     
        width: 100%;
        height:auto;
       
    }
        
    #header-text{
        padding: 0px 10px;
    }
       
    header #header-text h1{     
        font-size: 1.5em;  
        letter-spacing: 1px;
        width: 100%;
        padding: 0px 10px; 
    }

    header #header-image{   
        height: auto;
        
    }

    #mainContent{
        padding-top: 5%;
        margin-left: auto;
        margin-right: auto;
        overflow-x: none;
    }
    

  
    /* Left side styling(bullet list) */
    #leftList{ 
       width: 100%;
       display:block;    
    }

    /* Right side styling (input form) */
    #rightList{
        width: 100%;
        display:block;    
       
        transform: translateX(150%);    
    }
   
  
  
    #submitContainer{
        width: 100%;      
    }

     footer{       
        margin-left: auto;
        margin-right: auto;     
        padding: 15px; 
    } 
    
}