@media (min-width:900px) and (max-width: 1205px){
    /* Header styling */
    #container{     
        margin-left: 0%;
        margin-right: 0%;     
        width: 100%;
        height: auto;
       
    }
        
        
    #header-text{
        padding: 0px 10px;
    }
       
    header #header-text h1{     
        font-size: 3em;  
        letter-spacing: 1px;
        width: 100%;
        padding: 0px 10px; 
    }

    header #header-image{   
        height: auto;
        width: auto;
    }

    #readMore-Icon{
        visibility: hidden;
    }

    #mainContent{
        margin-left: auto;
        margin-right: auto;
    }
  
    /* Left side styling(bullet list) */
    #leftList{ 
       width: 50%;
       display:inline-block;    
    }

    /* Right side styling (input form) */
    #rightList{
        width: 50%;
        display:inline-block;        
    }
   
  
  
    #submitContainer{
        width: 100%;      
    }

    footer {
        margin-left: auto;
        margin-right: auto;
    }
    
    footer p{
        padding-bottom: 15px;
    }
}