@media (min-width:900px) and (max-width: 1205px){
    /* Header styling */
    #container{     
        margin-left: 0%;
        margin-right: 0%;     
        width: 100%;
    }
        
    #header-text{
        padding: 0px 10px;
    }
       
    header #header-text h1{     
        font-size: 1.5em;  
        letter-spacing: 1px;
        width: 100%;
        padding: 0px 10px; 
    }
  
    /* Left side styling(bullet list) */
    #leftList{ 
       width: 50%;
       display:inline-block;    
    }

    /* Right side styling (input form) */
    #rightList{
        width: 50%;
        display:inline-block;        
    }
   
  
  
    #submitContainer{
        width: 100%;      
    }
}